// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: #D5EBE7;
    font-family: inherit;
}

.img-circle {
	width: 20px;
    height: 20px;
}

.navbar {
	background-color: #002593;
    height: 75px;
}

.navbar a:hover {
    color: #0CD7F2;
}

.navbar-brand {
    color: #FFFFFF;
    font-size: 24px;
    font-style: PT Serif;
}

.nav-link {
	color: #FFFFFF;
    font-size: 16px;
    font-style: PT Serif;
}

.nav-item a:hover {
    color: #0CD7F2;
}

.input-group-text {
	background-color: #03b5b2;
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: 15px;
    font-weight: 700;
}

.input-group-text-marcatori {
	background-color: #b1e0b7;
}

.form-control {
	border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: 15px;
    height: calc(2em + 0.75rem + 2px);
}

.btn {
	font-size: 16px;
    padding: 7px 15px;
    border-radius: 0.35rem;
    height: 44px;
}

.btn-primary {
	background-color: #007CDB;
    border-color: #007CDB;
}

.btn-primary:hover {
    background-color: #03b5b2;
    border-color: #03b5b2;
}

thead {
	background-color: #007CDB;
    font-size: 16px;
    font-weight: bold;
    color: #0CE8B9;
    text-transform: uppercase;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
    font-size: 16px;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #B2DBFA;
    font-size: 16px;
}

.titlu {
    text-align: center;
    font: normal normal bold 30px/46px Poppins;
    letter-spacing: 0px;
    color: #002593;
    text-shadow: 3px 5px 6px #00000029;
    text-transform: uppercase;  
    opacity: 1;
}

.edit-icon {
	color: #03b5b2;
}

.remove-icon {
	color: #b55c03;
}

.row-gazde {
	border: 1px dashed #c3dbe6;
    padding-top: 15px;
    margin-bottom: 15px;
}

.row-oaspeti {
	border: 1px dashed #c3dbe6;
    padding-top: 15px;
    margin-bottom: 15px;
}

.div_filter {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    padding-top: 15px;
    margin: 0px 0px 15px 0px;
}

.custom_container {
    margin-left: 10%;
    margin-right: 10%;
}